<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ict.ex.mapper.EmpMapper">
    <select id="getList" resultType="edu.ict.ex.vo.EmpVO">
        select * from emp
    </select>
    
    <!-- INSERT INTO EMP  VALUES (1111,'홍길동','CLERK',7369,'2024-09-24', 800,8000,10); -->
    <insert id="insert">
        INSERT INTO EMP  VALUES (#{empno},#{ename},#{job},#{mgr},#{hiredate2},#{sal},#{comm},#{deptno})
    </insert>
    
    <select id="getTotalCount" resultType="int">
        <![CDATA[
        	select count(*) from emp
    	]]>
    </select>
    
    <select id="getListWithPaging" resultType="EmpVO">
        <![CDATA[
        	SELECT * FROM (
              		SELECT ROWNUM AS RNUM, A.* 
              		FROM (
                          SELECT *  FROM emp order by empno
                	) A WHERE ROWNUM <= #{pageNum} * #{amount}
         	) WHERE RNUM > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
    
    <select id="getEmpDeptList" resultType="EmpVO">
        select * from emp, dept where emp.deptno = dept.deptno
    </select>
    
    <resultMap id="deptMap" type="DeptEmpVO">
        <result property="deptno" column="deptno"/>
        <result property="dname" column="dname"/>
        <result property="loc" column="loc"/>
        <collection property="empList" resultMap="empMap"></collection>
    </resultMap>
    
    <resultMap id="empMap" type="EmpVO">
        <id property="empno" column="empno"/>
        <result property="ename" column="ename"/>
        <result property="job" column="job"/>
        <result property="mgr" column="mgr"/>
        <result property="hiredate" column="hiredate"/>
        <result property="sal" column="sal"/>
        <result property="comm" column="comm"/>
        <result property="deptno" column="deptno"/>
<!--         <collection property="deptList" resultMap="deptMap"></collection> -->
    </resultMap>
    
    <select id="getDeptEmpList" resultMap="deptMap">
        select * from emp, dept where emp.deptno = dept.deptno
    </select>
    
    
    <resultMap id="salgradeMap" type="SalGradeVO">
        <result property="grade" column="grade"/>
        <result property="losal" column="losal"/>
        <result property="hisal" column="hisal"/>
        <collection property="deptEmpList" resultMap="deptMap"></collection>
    </resultMap>
    
    <resultMap id="deptempMap" type="DeptVO">
        <id property="deptno" column="deptno"/>
        <result property="dname" column="dname"/>
        <result property="loc" column="loc"/>
    </resultMap>
    
    <select id="getEmpSalGradeList" resultMap="salgradeMap">
    	<![CDATA[
			SELECT E.ENAME, E.SAL, S.GRADE
			FROM EMP E, SALGRADE S
			WHERE E.SAL BETWEEN S.LOSAL AND S.HISAL
		]]>	
	</select>
	
    <select id="getEmpDeptSalGradeList" resultMap="salgradeMap">
    	<![CDATA[
			SELECT E.ENAME, E.SAL, D.DEPTNO, D.LOC, S.GRADE 
			FROM EMP E, DEPT D, SALGRADE S 
			WHERE E.DEPTNO = D.DEPTNO AND E.SAL BETWEEN S.LOSAL AND S.HISAL
		]]>	
	</select>
    
    
</mapper>